body {
    margin:0px 0px;
    padding:0px 0px
 }
 .container-fluid {
     padding:0;
 }

 .navbar-default {
     background-color:blue;
     color:white;
 }
 
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

 nav, button {
     color:white;
 }
 nav, a{
     color:white;
 }
 nav, a:hover {
     text-decoration: none;
     color:blue;
     background-color:white;
     width:100%;
 }


.landingWrapper {
    margin:0;
    background-size:cover;
    background-position:center;
    height:100vh;
    background-repeat: no-repeat;
    background-image:url('../images/Ethan.JPG');
}

.header {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    text-align: center;
    width:100%;
    position:absolute;
    top:30%;
}
.mainButton {
    background-color:white;
    color:blue;
    border-radius:20px;
}

.footer {
    background: linear-gradient(blue, darkBlue);
    color:white;
    text-align: center;
    width:100%;
    margin-top:30px;
    margin-bottom:-10px;
    min-height:100px;
}